/* STRUCTURE */
body {
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
    padding:0px;
}
#container {
    max-width: 75vw;
    min-width:500px;
    min-height: 100vh;
    margin: 0px 12.5vw;
    padding: 20px;
    background-color: #454545;
}
article {
    height:auto;
    border: 1px solid rgb(252, 163, 99);
    margin: 5px 0px;
    padding: 10px;
    text-align: left;
}


/* NAVIGATION */
nav ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
nav li {
    list-style-type: none;
}

/* GENERAL CONTENT STYLES */
a {
    color: rgb(252, 163, 99);
    text-decoration: none;
}

a:hover {
    color:#fff;
  }

h1, h2, h3, h4 {
    color: rgb(245, 112, 20);
    margin:10px 0px;
}

p, li {
    color:#fff;
    text-align:left;
    margin:5px 0px;
}

#avatar {
    padding-right: 20px;
}

 /* LAYOUT-SPECIFIC CONTENT STYLES */
.articleText {
    display:inline-block;
    /* float:right; */
    width: calc(100% - 130px)
}

 article img {
    /* display:inline-block; */
    width: 120px;
    height: auto;
    padding-right: 10px;
    float:left;
}

article h1,
article h2,
article h3,
article h4 {
    margin:0px;
}